eqtl_arc.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="eqtl_arc" targetNamespace="http://www.example.org/eqtl_arc/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/eqtl_arc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/eqtl_arc/">
	<xsd:element name="NewOperation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NewOperationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema></wsdl:types>
    <wsdl:message name="NewOperationRequest">
    	<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="NewOperationResponse">
    	<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="eqtl_arc_porttype">
    	<wsdl:operation name="NewOperation">
    		<wsdl:input message="tns:NewOperationRequest"></wsdl:input>
    		<wsdl:output message="tns:NewOperationResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="eqtl_arc_binding"
    	type="tns:eqtl_arc_porttype">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="NewOperation">
    		<soap:operation
    			soapAction="http://www.example.org/eqtl_arc/NewOperation" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="eqtl_arc">
		<wsdl:port name="eqtl_arc_port" binding="tns:eqtl_arc_binding">
			<soap:address location="http://localhost:60000/eqtl" />
		</wsdl:port>
	</wsdl:service></wsdl:definitions>